## Pandas Series object Operations

In [27]:
import pandas as pd
import numpy as np

In [2]:
#imaginary sales data samples as dictionaries
q1 = {'Japan':80,'China':450,'India':200,'USA':250}
q2 = {'Brazil':100,'China':500,'India':210,'USA':260}

In [3]:
q1

{'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}

In [4]:
q2

{'Brazil': 100, 'China': 500, 'India': 210, 'USA': 260}

In [6]:
sales_q1 = pd.Series(q1)
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [7]:
sales_q2 = pd.Series(q2)
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [8]:
#printing keys of the dictionary / index of the pandas series

#using pandas series
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [9]:
#using dictionary
q1.keys()

dict_keys(['Japan', 'China', 'India', 'USA'])

In [14]:
#printing values of dict / data in pandas series
#using dictionary
q1.values()

dict_values([80, 450, 200, 250])

In [21]:
#using pandas series
sales_q1['Japan':'India']

Japan     80
China    450
India    200
dtype: int64

In [22]:
sales_q2['China':]

China    500
India    210
USA      260
dtype: int64

In [23]:
sales_q2[:]

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [24]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

- **Broadcasting**

In [25]:
#operations in standard python list are not broadcasted
[1,2]*2

[1, 2, 1, 2]

In [29]:
#in pandas series, operations are broadcasted because pandas is built on numpy library
arr = np.array([1,2])
arr*2

array([2, 4])

In [30]:
arr

array([1, 2])

In [31]:
sales_q1*2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [32]:
sales_q1/100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [34]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [35]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [36]:
sales_q1 + sales_q2

#Since indices are not common, we get NaN for the uncommon indices

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [43]:
#making indices same in both series
#adding data with unequal indices

sales_sum = sales_q1.add(sales_q2,fill_value=0)
sales_sum

# adds data from both series
# fill_value = 0 will treat value for brazil as 0 in q1 and
# value of japa as 0 in q2
# i.e., fill_value sets value for the missing indices in a series

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [42]:
#data in q1, q2 was of int type.
#numeric computations convert the data type to floating point numbers

sales_q1.dtype

dtype('int64')

In [44]:
sales_sum.dtype

dtype('float64')

In [45]:
#Also, data type can be set using the dtype parameter in pandas Series() method