## Pandas Series object
**Data structure in pandas that holds an array of ifo along with a named index (named index differentiates it from a simple numpy array)**

**i.e., 1D ndarray with axis labels**

in numpy, indexing is 0,1,2,...

example:

**index $\;\;$  data**

0  $\;\;\;\;\;\;\;$  1776

1  $\;\;\;\;\;\;\;$  1867

2  $\;\;\;\;\;\;\;$ 1821


in pandas, another labeled index is created to select data

example:

**index $\;\;$ labeled index $\;\;$ data**

0  $\;\;\;\;\;\;\;\;$  USA  $\;\;\;\;\;\;\;\;\;\;\;\;\;\;$  1776

1  $\;\;\;\;\;\;\;\;$  CANADA  $\;\;\;\;\;\;\;\;$  1867

2  $\;\;\;\;\;\;\;\;$  MEXICO  $\;\;\;\;\;\;\;\;\;$  1821

In [2]:
import numpy as np
import pandas as pd

In [4]:
myindex = ['USA','Canada','Mexico']
mydata = [1776,1867,1821]

In [5]:
#pandas series without labeled axis
myser = pd.Series(data = mydata)

In [7]:
myser

0    1776
1    1867
2    1821
dtype: int64

In [8]:
type(myser)

pandas.core.series.Series

In [11]:
#pandas series with labeled axis
myser = pd.Series(data = mydata, index = myindex)

In [12]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [13]:
#analogous to a dictionary
#indexing by 0,1,2 or by USA, Canada, Mexico

myser[0]

1776

In [15]:
myser['USA']

1776

In [16]:
myser[0:2] #index 2 is not included

USA       1776
Canada    1867
dtype: int64

In [17]:
myser['USA':'Mexico']  #index 'Mexico' is included

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [18]:
#specifying 'data' and 'index' keywords is not necessary as long the order is correct of the identifier names as parameters
#example:
newser = pd.Series(mydata,myindex)
newser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

- **Creating pandas series using dictionary**

In [19]:
#define a dictionary
ages = {'Sam':5,'Frank':10,'Spike':7}

In [20]:
ages

{'Sam': 5, 'Frank': 10, 'Spike': 7}

In [22]:
#Dictionary keys: Sam, Frank, Spike
#Dictionary values: 5, 10, 7

#Pandas series automatically sets the keys as index and the values as data
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [23]:
#TASK: Use pandas to grab the expenses paid by Bob.

expenses = pd.Series({'Andrew':200,'Bob':150,'Claire':450})

expenses['Bob']

150